<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="4" name="Test">
        <classes>
            <class name="tests.TestLoginPage"/>
            <class name="tests.TestHideHelp"/>
            <class name="tests.TestAcceptCookies"/>
            <class name="tests.TestTimer"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->